<ion-header class="admin-header ion-no-border">
  <ion-toolbar class="admin-toolbar">
    <div class="admin-nav-box">
      <div class="brand-admin-left">
        <!-- BOTÓN NATIVO IONIC DE MENÚ LATERAL DRAWER (<ion-menu-button>) -->
        <ion-menu-button menu="admin-menu" class="native-menu-btn"></ion-menu-button>

        <div class="brand-admin" (click)="irA('/admin/dashboard', $event)" style="cursor: pointer;">
          <ion-icon [src]="icons.shieldCheckmark" class="gold-icon"></ion-icon>
          <span>REBEL ADMIN PANEL</span>
        </div>
      </div>

      <div class="user-badge">
        <span class="user-name-admin">👤 {{ servicioAuth.administradorActual()?.nombre || 'Administrador' }}</span>
        <button (click)="salirAdmin()" class="btn-logout" title="Cerrar Sesión Admin">
          <ion-icon [src]="icons.logOutOutline"></ion-icon>
          <span class="logout-text">Salir</span>
        </button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
